body {
    background-color: skyblue;
    padding: 20px;
    margin: 0;
  }
  h1, h2, p, ul, li {
    font-family: sans-serif;
  }
  ul.header li {
    display: inline;
    list-style-type: none;
    margin: 0;
  }
  ul.header {
    background-color: #111;
    padding: 0;
  }
  ul.header li a {
    color: #FFF;
    font-weight: bold;
    text-decoration: none;
    padding: 20px;
    display: inline-block;
  }
  .content {
      background-color: teal;
      background-color: ;
    padding: 20px;
  }
  .content h2 {
    padding: 0;
    margin: 0;
  }
  .content li {
    margin-bottom: 10px;
  }
  .active {
    background-color: #0099FF;
  }
  .sliderimg { 
    width: 25%; 
    height: 100px; 
    object-fit: cover 
  }
  .imagenes{
      margin-top: 2rem;
      text-align: center;
  }
  .homeC{
      background-color: teal;
  }
  .animation{
      font-size: 15px;
      color:black;
      text-align: center;
  }